:host {
    .container{
        display: flex;
        justify-content: center;
      
    }
    .bg{
        background-color: rgba(176, 247, 223, 0.897);
        display: center;
        margin-top: 7%;
        width: 30%;
        opacity: 90%;


    }
    
    }