<div class="container">
  <div class="bg">
    <div class="container">
      <h1 class="container">
          Welcome!
      </h1>
  </div>
  <div class="container">
    <h2 class="container">
        Please Log In to access the blogs
    </h2>
</div>
<div class="container">
  <form class="blog-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label> Email</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>    
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="text" formControlName="password" /> 
    </mat-form-field>
    <div class="button">
    <button type="submit">Log In</button>
    </div>
  </form>
</div>

<P class="containersignup">
    Don't Have an account?  <a style="margin-right:5px; margin-left:5px" (click)="navigeteTo('signup')"> <u>Sign Up</u></a> here
</P>

  </div>
</div>

