<div class="bg">
    <div class="container">
      <a mat-raised-button style="margin-right: 25px" routerLink="/add-blog">Add Blog</a>
      <a mat-raised-button style="margin-right: 25px" routerLink="/home">Blog List</a>
      <a mat-raised-button routerLink="/login">Log Out</a>
    </div>
    <div class="input">
      <form class="blog-form" [formGroup]="blogForm" (ngSubmit)="addBlog()">
      <mat-form-field>
        <mat-label>Blog Title</mat-label>
        <input matInput type="text" formControlName="title" />
      </mat-form-field>
      <mat-form-field>
        <mat-label> User Name </mat-label>
        <input matInput type="text" formControlName="userName" />
      </mat-form-field>    
      <mat-form-field>
        <mat-label>Blog Description</mat-label>
        <textarea matInput type="text" formControlName="description"> </textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Blog Category</mat-label>
        <mat-select formControlName="category">
          @for (category of categoriesOfBlog; track $index) {
          <mat-option [value]="category">{{ category }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="button">
      <button type="submit">Submit</button>
      </div>
    </form>
    </div>
  
  </div>