:host {
    .all-blogs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 800px;
      margin-inline: auto;
      margin-top: 24px;
    }
    .container{
      display: flex;
      justify-content: center;
      padding-top: 20px;
  }
  .bg{
    //background-color: rgba(176, 247, 223, 0.897);
    height: 100%;
  }
  
  }